@model DoAn.Models.TblProduct

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>TblProduct</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeoTitle" class="control-label"></label>
                <input asp-for="SeoTitle" class="form-control" />
                <span asp-validation-for="SeoTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListImages" class="control-label"></label>
                <input asp-for="ListImages" class="form-control" />
                <span asp-validation-for="ListImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromotionPrice" class="control-label"></label>
                <input asp-for="PromotionPrice" class="form-control" />
                <span asp-validation-for="PromotionPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vat" class="control-label"></label>
                <input asp-for="Vat" class="form-control" />
                <span asp-validation-for="Vat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hot" class="control-label"></label>
                <input asp-for="Hot" class="form-control" />
                <span asp-validation-for="Hot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Decription" class="control-label"></label>
                <input asp-for="Decription" class="form-control" />
                <span asp-validation-for="Decription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Detail" class="control-label"></label>
                <input asp-for="Detail" class="form-control" />
                <span asp-validation-for="Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViewCount" class="control-label"></label>
                <input asp-for="ViewCount" class="form-control" />
                <span asp-validation-for="ViewCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CateId" class="control-label"></label>
                <input asp-for="CateId" class="form-control" />
                <span asp-validation-for="CateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateBy" class="control-label"></label>
                <input asp-for="UpdateBy" class="form-control" />
                <span asp-validation-for="UpdateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BraindId" class="control-label"></label>
                <input asp-for="BraindId" class="form-control" />
                <span asp-validation-for="BraindId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <input asp-for="SupplierId" class="form-control" />
                <span asp-validation-for="SupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaKeyWords" class="control-label"></label>
                <input asp-for="MetaKeyWords" class="form-control" />
                <span asp-validation-for="MetaKeyWords" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MetaDecription" class="control-label"></label>
                <input asp-for="MetaDecription" class="form-control" />
                <span asp-validation-for="MetaDecription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateBy" class="control-label"></label>
                <input asp-for="CreateBy" class="form-control" />
                <span asp-validation-for="CreateBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
